@model DummyBudgets.Models.Budget

<h1>@Model.Name</h1>
<p>Amount: @Model.Amount</p>
<p>Start Date: @Model.StartDate</p>
<p>End Date: @Model.EndDate</p>

<h2>Expenses</h2>
<ul>
    @foreach (var expense in Model.Expenses)
    {
        <li>@expense.Name - @expense.Amount</li>
    }
</ul>